h1{
    text-align: center;
    color: rgb(146, 73, 0);
}

h2 {
    color: rgb(146, 73, 0);
}

header {
    background-color: blanchedalmond;
}

div{
    width: 700px;
    height: 125px;
    background-color: rgb(255, 232, 147);
    border: rgb(146, 73, 0) 5px solid;
    margin: 60px;
}

body {
    background-color: blanchedalmond;
}